 body {
    background-color: tan;
    padding: 25px;
  }

  img { 
    width: 100%;
  }
  
  h1 {
    color: white;
    text-align: center;
    
  }

  h2{
    text-align: center;
    text-decoration: underline;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  #container{
    width: 100%;
    height: 300px;
  }

  #searchResults{
    background-color: white;
    width: 45%;
    height: 475px;
    float: left;
    
  }
  
  #form1{
    background-color: lightgrey;
    width: 20%;
    height: 475px;
    float: left;
  }
  
  #experience {
    background-color: rgb(152,133,88);
    float: left;
    width: 35%;
    height: 475px;
  }
  
  #likeResults{
    background-color: white;
    width: 45%;
    height: 750px;
    float: left;
  }

  #awesome{
    background-color: rgb(152,133,88);
    width: 100%;
    font-size: 36px;
    float: left;
    
  }

  #likes{
    background-color: lightgray;
    width: 20%;
    height: 750px;
    float: left;
  }
 
  #submit{
    margin-left: 40px;
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    
  }
  
  #submit2{
    margin-left: 40px;
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    
  }
  
  #fcity, #fzip, #fstate{
    padding: 10px;
    border-radius: 5px;
    border: 10px;
    margin: 10px;
  }
  
  #tc, #tz, #ts {
    padding: 10px;
  }
  
  #rate, #comments, #images{
    padding: 10px;
    border-radius: 5px;
    border: 10px;
    margin: 10px;
  }

  #likeImages{
    background-color: rgb(152,133,88);
    float: left;
    width: 35%;
    height: 750px;
  }

  .center {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .img1{
    width: 100%;
    opacity: 0.3;

  }
  .clearfix {
    overflow: auto;
  }

  #image {
 
    float: left; 
    width: 20%;
    height: 475px;
  }