/*  . class
 # id */

 body {
    background-color: lightblue;
  }

  img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
  }
  
  h1 {
    color: white;
    text-align: center;
    
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  #searchResults1{
    background-color: white;
    width: 1000px;
   
  }

  #searchResults2{
    background-color: white;
    
  }

  #form{
    background-color: white;
    /* text */
    width: 200px;
    
  }

  #experience {
    background-color: white;
    
  }

  #awesome{
    background-color: gray;
    
  }

  #likes{
    background-color: lightgray;
  }

  .center {

    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .clearfix {
    overflow: auto;
  }